*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #FFCC00;
}

main{
    color: #FFCC00;
}

footer{
    text-align: center;
    background-color: #FFCC00;
    padding: 25px;
}

a{
    text-decoration: none;
    color: #03357C;
    font-weight: 5px;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu, .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.wrapper{
    margin: 0 auto;
    width: 968px;  
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5% 20%;
}

.main-colour{
    background-color: #03357C; 
    padding: 5%; 
    border-radius: 10px;
}

.grid-item{
    padding-top: 25px;
}

.faces-smoelenboek{
    display: flex;
    flex-direction: row;
}

.faces-item{
    display: flex;
    flex-direction: column;
} 